<div class="media">
          <div class="media__image">
              <svg class="icon icon--white">
                <use xlink:href="./assets/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Responsive Design</h3>
            <p>I create layouts that adjust to any type of screen size, desktop, tablet or mobile.</p>
        </div>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use href="./assets/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">CSS</h3>
            <p>I think CSS is widely under appreciated, I use CSS to create beautiful and smooth animations and styling. </p>
        </div>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use href="./assets/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">React JS</h3>
            <p>React is a powerful framework that allows me to pack a ton of functionality into my software.</p>
        </div>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use href="./assets/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">VSCODE</h3>
            <p>My IDE of choice, combined with plugins that allow me to write clean, readable, shareable code.</p>
        </div>
        </div>
        <div class="media">
          <div class="media__image">
              <svg class="icon icon--primary">
                <use href="./assets/sprite.svg#snap"></use>
              </svg>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Adobe Creative Cloud</h3>
            <p>With this fleet of world-class software, I can create mock-up site designs, create multiple image sizes and files, create professional video clips, and endlessly more.</p>
          </div>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary">
              <use href="./assets/sprite.svg#snap"></use>
            </svg>
          </span>
        </div>
        <div class="media__body">
          <h3 class="media__title">Python</h3>
            <p>I believe Python will be the language of the future, with back end development applications machine learning capabilites, I use Python to bring the internet to the future.</p>
      </div>

      <section  id="skills" class="block block--primary block--light">
        <h2 data-aos="zoom-in">Skills & Tools</h2>
        <div class="media">
          <div class="grid grid--1x3" data-aos="fade-right">
            <div class="media__image" >
              <span class="icon-container">
                <svg class="icon icon--white">
                  <use href="./assets/website.svg"></use>
                </svg>
              </span>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">Responsive Design</h3>
              <p>I create layouts that adjust to any type of screen size, desktop, tablet or mobile.</p>
                  </div>
        
            <div class="media__image">
              <span class="icon-container">
                <svg class="icon icon--white" href="./assets/css3.svg">
                </svg>
              </span>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">CSS</h3>
              <p>I think CSS is widely under appreciated, I use CSS to create beautiful and smooth animations and styling. </p>
                  </div>
  
            <div class="media__image">
              <span class="icon-container">
                <svg class="icon icon--white">
                  <use href="./assets/sprite.svg#lni_lni-adobe"></use>
                </svg>
              </span>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">React JS</h3>
              <p>React is a powerful framework that allows me to pack a ton of functionality into my software.</p>
                  </div>
          </div>
      </div>
      <div class="media">
        <div class="grid grid--1x3" data-aos="fade-left">
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--white">
                <use href="./assets/sprite.svg#lni_lni-adobe"></use>
              </svg>
            </span>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">VSCODE</h3>
              <p>My IDE of choice, combined with plugins that allow me to write clean, readable, shareable code.</p>
                </div>
      
          <div class="media__image">
            <span class="icon-container">
              <svg class="icon icon--white">
                <use href="./assets/sprite.svg#css"></use>
              </svg>
            </span>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Adobe Creative Cloud</h3>
              <p>With this fleet of world-class software, I create mock-up site designs, multiple image sizes and files, professional video clips, and endlessly more.</p>
                </div>
  
          <div class="media__image">
              <span class="icon-container">
                <svg class="icon icon--white">
                  <use href="./assets/sprite.svg#lni_lni-adobe"></use>
                </svg>
              </span>
            </span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Python</h3>
              <p>I believe Python is the language of the future, with back end development applications and machine learning capabilites, I use Python to bring the internet to the future.</p>
                </div>
        </div>
    </div>
      </section>